<!-- <p>new-product works!</p> -->
<div class="row">
    <div class="col-md-8">
 
      <div class="card">
        <img class="card-img-top"  src="../../assets/images/laptop.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">New Product1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="new-product1" class="btn btn-primary">Go to New Product1</a>
        </div>
      </div>
 
      <div class="card">
        <img class="card-img-top"   src="../../assets/images/tablet.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">New Product2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="new-product2" class="btn btn-primary">Go to New Product2</a>
        </div>
      </div>
 
 
       
 
    </div>
 
    <!-- nested routes -->
 
    <div class="col-md-4">
     <div>
      <router-outlet></router-outlet>
    </div>
  </div>
 </div>